.title {
	color: white;
	position: absolute;
	top: 25%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
	font-size: 62px;
}

.title:hover {
	color: rgb(114, 155, 194);
	opacity: 60%;
}

.text {
	color: white;
	position: absolute;
	top: 33%;
	left: 50%;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
	transform: translate(-50%, -50%);
	font-size: 22pt;
}

.mail {
	position: absolute;
	top: 50%;
	left: 10%;
	height: 15%;
}

.mail:hover {
	opacity: 75%;
	height: 15.4%;
}

.discord {
	position: absolute;
	top: 50%;
	left: 24%;
	height: 15%;
}

.discord:hover {
	opacity: 75%;
	height: 15.4%;
}

.youtube {
	position: absolute;
	top: 50%;
	left: 40%;
	height: 15%;
}

.youtube:hover {
	opacity: 75%;
	height: 15.4%;
}

.git {
	position: absolute;
	top: 50%;
	left: 55%;
	height: 15%;
	border-radius: 5px;
}

.git:hover {
	opacity: 75%;
	height: 15.4%;
}

.spotify {
	position: absolute;
	top: 50%;
	left: 70%;
	height: 15%;
	border-radius: 5px;
}

.spotify:hover {
	opacity: 75%;
	height: 15.4%;
}