@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono&family=Source+Sans+Pro&display=swap");

* {
	font-family: 'Source Sans Pro', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

html {
	line-height: 2em;
	color: #FFF;
}

body {
	margin: 0 auto;
	padding-top: 10%;
	padding-bottom: 20px;

	max-width: 800px;
	min-height: 100vh;

	background-image: url("../img/background.jpg");
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

div.container {
	background-color: rgba(0, 0, 0, 0.5);

	padding: 10px;

	position: relative;

	border-radius: 7px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
}

a.blue {
	color: #4287F5;
}

p.web-repo,
p.web-desc {
	font-size: 16px;
	line-height: normal;

	text-align: center;
}

div.title {
	display: flex;

	flex-direction: column;
}

div.title h1 {
	text-align: left;
}

div.table-list {
	margin: 10px 0 10px 0;
}

hr.separator {
	background: linear-gradient(to right, transparent, white, transparent);
	border: none;

	margin: 5px 0 5px 0;

	height: 1px;
}

h1 {
	font-weight: 200;
	font-size: 30px;

	text-align: center;
}

a {
	color: #FFF;
	text-decoration: none;
	cursor: pointer;
}

a:hover {
	text-decoration: underline;
}

a.clear,
a.clear:link,
a.clear:visited {
	color: #666;

	font-size: 14px;
	line-height: normal;

	transition: all 200ms ease-in;
	-webkit-transition: all 200ms ease-in;
	-moz-transition: all 200ms ease-in;
	-ms-transition: all 200ms ease-in;
	-o-transition: all 200ms ease-in;
}

a.logo {
	width: auto;
}

p,
h1 {
	text-shadow: black 2px 0 2px;
}

.icons {
	height: 24px;
	width: 24px;
}

table {
	margin: 0 auto;
	min-width: 400px;

	border-collapse: collapse;

	table-layout: fixed;
}

tr {
	outline: 0;
	border-bottom: 1px solid #444;
}

tr:hover td:not(#not-found) {
	color: #FFF;
	background: rgba(0, 0, 0, 0.4);
}

tr td:first-of-type {
	padding-left: 10px;
	padding-right: 10px;
}

tr:last-child,
tr#not-found-border {
	border-bottom: none;
}

th {
	text-align: left;
}

td.link {
	width: 60%;
}

td.size {
	width: 15%;
}

td.date {
	width: 20%;

	padding-right: 10px;
}

td {
	padding: 5px 0;

	outline: 0;
	border: 0;

	text-align: left;

	transition: background 200ms ease-in;
	-webkit-transition: background 200ms ease-in;
	-moz-transition: background 200ms ease-in;
	-ms-transition: background 200ms ease-in;
	-o-transition: background 200ms ease-in;
}

td a {
	display: block;
}

td:last-child,
th:last-child {
	text-align: right;
}

.parent a:hover {
	color: #2a2a2a;
}

.no-stretch {
	object-fit: scale-down;
}

.center-text {
	text-align: center;
}